.note-card {
    list-style-type: none;
    border: 1px solid;
    width: 85%;
    padding: 15px;
    margin: 10px auto;
}

.solo-card {
    flex: 3;
    list-style-type: none;
    border: 1px solid;
    display: block;
    width: 50%;
    padding: 15px;
}

.note-group {
    display: flex;
    justify-content: space-between;
}

.delete-button {
    border: 2px solid;
    padding: 5px;
    display: block;
    width: 100px;
}

.title-btn {
   border: none;
   background-color: white;
}